

<%include ../partials/header%> 
        
                  ADMIN PAGE
                  <br/><br/><br/>


        
 <div  style="background-color:black; height: 50px; -webkit-text-fill-color: white; text-align: center; padding: 10px; margin: 10px auto;">
        
   <button class="btn btn-danger"> WELCOME ADMIN <%=userName%> </button>  
   <!-- <%=age%> -->

 
 

</div>               


    