
<body>
    <div class="modal-dialog">
		<div class="modal-content">
			
			<hr />
			<div class="modal-body">
				<form   action="/speakers/add" method="post" role="form" enctype="multipart/form-data" >
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-user"></span>
							</span>
							<input type="text" name="id" class="form-control" placeholder="ID" />
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-lock"></span>
							</span>
							<input type="text" name="name" class="form-control" placeholder="Name" />

						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
								<span class="glyphicon glyphicon-lock"></span>
								</span>
								<input type="text" name="joptitle" class="form-control" placeholder="jopTitle" />
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">
									<span class="glyphicon glyphicon-lock"></span>
									</span>
									<input type="password" name="password" class="form-control" placeholder="passWord" />
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">
										<span class="glyphicon glyphicon-lock"></span>
										</span>
										<input type="date" name="birthdate" class="form-control" placeholder="BirthDate" />
			
									</div>

									</div>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon">
											<span class="glyphicon glyphicon-lock"></span>
											</span>
											<input type="text" name="gender" class="form-control" placeholder="Gender" />
				
										</div>
	
										</div>

                    </div>
                    <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="file" name="speakerImage" class="form-control" />
    
                            </div>
    
                        </div>

					<div class="form-group text-center">
						<button type="submit" class="btn btn-success btn-lg" >Add</button>
						
					</div>

				</form>
			</div>
		</div>
	</div>


