
        
            <h3> Speakers List </h3>
        <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">JopTitle</th>
                    <th scope="col">PassWord</th>
                    <th scope="col">BirthDate</th>
                    <th scope="col">Gender</th>
                    <th scope="col">image</th>
                  </tr>
                </thead>
                <tbody>
                  <% speakers.forEach((speaker)=>{%>
                    <tr>
                      <td><%=speaker._id%></td>
                      <td><%=speaker.Name%></td>
                      <td><%=speaker.jopTitle%></td>
                      <td><%=speaker.passWord%></td>
                      <td><%=speaker.birthdate%></td>
                      <td><%=speaker.gender%></td>
                      <td><img src="/images/<%=speaker.image%>" style="width:100px;height:100px"/></td>
                      <td>
                         <button class="btn btn-primary btnShowData" id="myData<%=speaker._id%>" data-toggle="modal" data-target="#mymodal">Show Data</button>
                         <script>
                             $(()=>{
                        $("#myData<%=speaker._id%>").click(()=>{
                            // alert($(e).attr("val"));
                             $.ajax({
                              
                               url: `http://localhost:8080/speakers/getById/<%=speaker._id%>`,
                               method:"get",
                               success: function (result) {
                                  //alert("sucsses");
                                
                                  $("#fullDataAjax").html(
                                `<p><img src="/images/${result.image}" style="width:200px;height:200px"/><br/>
                                   Name : ${result.Name} <br/>
                                 job : ${result.jopTitle} <br/>
                                 birthdate : ${result.date} <br/>
                                 pass : ${result.passWord} <br/>
                                  birthday : ${result.BirthDate} <br/>
                                  gender : ${result.Gender}
                                 </p> ` 
                              )
                               },
                               error:function(err){
                                           alert("faild")
                                       }
                             });
                            });
                           });
                           
                       </script>
                        <a class="btn btn-primary" href="/speakers/edit/<%=speaker._id%>">Edit</a>
                        <a class="btn btn-danger" href="/speakers/delete/<%=speaker._id%>">Delete</a>
                      </td>
                    </tr>
                  <%})%>
                </tbody>
              </table>
      
              <div class="modal" id="mymodal">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <p class="modal-title">Modal One</p>
                          </div>
                          <div id="fullDataAjax" class="modal-body text-center">
                              
                          </div>
                          
                      </div>
                  </div>
                  </div>
              
             