body {
  overflow-x:hidden;
}

@media(min-width:800px){
	
	#accordion img{
		
		width:200px;
		
	}


}

@media(min-width:800px){
	
	#accordion button.btn{
		
		width:200px;
		margin-left:30px;
		
		
	}


}


@media(min-width:800px){

.form-group .btn{
	width:100px;
  margin-right:250px;
 
}

}







/**********************************************/

@media(min-width:375px){

	.hh h1{
		
	    font-size:28px;
		
		text-align:center;
	}

}

@media(min-width:375px){

	.wrapper p{
		
		padding:0;
		margin:0;
	    width:270px;	
		margin-left:-33px;
		
	}

}


@media(min-width:375px){

	.wrapper .p1{
		
	   margin-left:-60px;
		
		
	}

}


@media(min-width:375px){

	.wrapper .p2{
		
	   margin-left:-60px;
		
		
	}

}


@media(min-width:375px){
	
.form-group{
  margin-right:20px;
 
}

}

@media(min-width:375px){

button.btn{
	width:100px;
  margin-right:50px;
 
}

}

@media(min-width:375px){
	.form-group button {
   
}}

@media(min-width:375px){
	#accordion img{
		width:250px;
     margin-right:100px;
}}

@media(min-width:375px){
	
	#accordion button.btn{
		
		width:200px;
		margin-left:30px;
		
		
	}
	}

	
	@media(min-width:375px){
	
	h1{
		
		font-size:30px;
		
	}
	}
	
	@media(min-width:375px){
	
	button{
		width:150px;
		
	}
	}

	@media(min-width:375px){
	
	.latest-postt p.pragraph{
		padding:10px;
		
	}
	}
	
	@media(min-width:375px){
	
	.form-group .btn{
		margin-left:20px;
		
	}
	}

/*******************************************************/
@media(min-width:768px){
	
	.wrapper p{
		
		padding:0;
		margin:0;
	    width:600px;	
		
		
	}
	
	}
	
	@media(min-width:768px){
	
	.wrapper .p1{
		
		
		padding:0;
		margin:0;
	    width:600px;	
		
		
		
	}
	
	}
	
	@media(min-width:768px){
	
	.wrapper .p2{
		
		
		padding:0;
		margin:0;
	    width:600px;	
		
		
		
	}
	
	}
	
	@media(min-width:768px){
	
	.card-footer p{
		
		text-align:center;
		margin-left:-100px;
	}
	
	
	}
	
	
	@media(min-width:768px){
	
	.form-group button{
  margin-right:-80px;
 
}
	
	
	}


/*******************************************************/

.upper-bar{
	
	background-color:#f7f7f7;
	color:#2cd7df;
	padding:30px;
}
.upper-bar{
	
	margin-top:30px;
	border:2px solid black;
	
}


.navbar-nav .nav-item .nav-link{
	
	color:black;
	font-weight:bold;	
	font-size:20px;
    margin-left:5px;
	
}

.navbar-nav .nav-item .nav-link:hover{
	
	color: rgb(252, 138, 193);
	font-weight:bold;	
	font-size:20px;
    margin-left:5px;
	
}



.navbar-nav .active > .nav-link{
	
	color:rgb(252, 138, 193)!important;
	
	
}


#bt{
	
	
	background-color:#2cd7df;
}

 #bt:hover{
	
	background-color:#ff1e26;
}



/*
<img class="s-block h-20 w-100" src="img/toyss.jpg"> */

div #section1{
	
	               width:1600;
					height:1060;
					background-color:white;
	
	background-image:src('img/toyss.jpg');
}


#section{
		
		
		 position: absolute;
		 
		
		
		}

#section2{
		 margin-top:-550px;
		 margin-left:400px;
		 font-size:100px;
		 width:450px;
		 color:white;
		 background-color:#2cd7df;
		 
		 padding-bottom:20px;
		
		  /*transform: rotate(-20deg);*/
		
		
		}
		
		#span{
			
			
			color:white;
		}
		
		
		
		#section3{
		
		width:400px;
		height:60px;
		background-color:#ffc107;
		margin-top:50px;
		margin-left:425px;
		color:black;
		
		
		
		}
		
		
		#section4{
		
		width:200px;
		
		margin-top:-220px;
		margin-left:-40px;
		
		}
		
		#i{
			margin-top:20px;
			background-color:#2cd7df;
			color:black;
			width:120px;
			height:100px;
			margin-bottom:3px;
			margin-right:5px;
			
		}
		
		#h6{
			
			background-color:#ffc107;
			padding-top:9px;
			
			height:40px;
			width:100px;
			margin-left:120px;
			
		}
		
		span{
			
			font-weight:bold;
			padding:3px;
			margin-left:12px;
		
			
			
			
		}
		
		
		
		
		#span{
			
			background-color:red;
			
		}
		
	
		
		
		
 .bt{
	 font-weight:bold;
	 
  position: absolute;
  top: 120%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ff1e26;
  color: white;
  font-size: 20px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

 .bt:hover {
  background-color: #2cd7df;
  color: white;
}
		
		
		
		
 h2{
	
color: #2cd7df;
font-weight:bold;
padding:5px;
	 
 }	

h4{
	
	color:#ff1e26;
}


h1{
	
	color:#ff0000;
	font-weight:bold;
	
}



#cardtwo{
	
	background-color:#2cd7df;;
}


button{
	
	color:red;
}



.bn{
	 font-weight:bold;
	 
  position: absolute;
  margin-top:20px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ff1e26;
  color: white;
  font-size:15px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  background-color:#ff1e26;
  color:white;
}

 .bn:hover {
  background-color: #2cd7df;
  color: white;
}


.footer{
	
	background-color:#f7f7f7;
	
}

a:link{
	
	
	color:#2cd7df;
	font-weight:bold;
}

a:hover{
	
	color:#ff1e26;
}


.upper-bar .row{
	
	margin-left:100px;
	
}

.latest-post{
	
	border:2px solid #2cd7df;
	padding-right:60px;
	padding-left:60px;
	margin-right:25px;
	margin-left:35px;
	
}


.form{
	
	border:2px solid #2cd7df;
	
}

.form-group button{
	
	margin-left:330px;
	
}

.h{
 padding-bottom:10px;
 padding-top:10px;
}

/**
#accordion{
	
	
	width:1300px;
	margin-right:100px;
	margin-left:-50px;
	text-align:center;
	
}

.card-body {
	
} */

.container-fluid{
	
	padding-right:15px;
	padding-left:50px;
	
	
	margin-left:-20px;
	
}

.container-fluid #accordion{
	
	padding-right:15px;
	padding-left:50px;
	
	
	margin-left:-60px;
	margin-right:-30px;
	
}
.carousel .container-fluid{
	
	padding-right:15px;
	padding-left:35px;
	
	
	margin-left:-5px;
	
}