<html>
    <head>
        <link rel="stylesheet" href="/css/style.css"/>
        <style>
                a{
                    padding: 20px;
                    -webkit-text-fill-color: rgb(214, 20, 20);
                    font-size: 20pt;
                }
                a:hover{
                    -webkit-text-fill-color: pink;
                }
            </style>
    </head>
    <body>
        
         
       <div  style="background-color:black; height: 200px; -webkit-text-fill-color: white; text-align: center; padding: 10px; margin: 10px auto;">
        
        
        
            <h2>HOME PAGE</h2>
            
            <a href="/login"> Admin</a>
            <a href="/register"> Users</a>
            
    
            
            
    
        </div>
        <img src="/images/background.jpg"/>

        
        <script src="/js/jquery.js"></script>
        <script src="/js/popper.js"></script>
        <script src="/js/bootstrap.js"></script>
    </body>
</html>