<html lang="en">
	
	<head>
	
	 <!-- Website created by Mads Kjaer - www.madskjaer.dk -->
        <meta charset="UTF-8">
  <meta name="description" content="Free Web tutorials">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta name="author" content="John Doe">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link href="css/bootstrap.min.css" rel="stylesheet" />
    
	
	
	         
	 <link href="/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	     
	<title>project</title>
	
	<script>
	$('body').scrollspy({ target: '#navbar-example' })
	</script>

		<style>
		
		
		
		.hamburger-menu span{
	 
	   background-color:white;
	   width:40px;
	   height:5px;
	   display:block;
	   margin-bottom:2px;
	   
	   }
	   
	   h2{
	   
	   color:#007bff;
	   background-color:#6c757d;
	   text-align:center;
	   
	   }
	   
	   .card{
	   
	    
  transform: rotate(90deg);

	   }
	
	
	

		</style>

		
		
	</head>

<body data-spy="scroll" data-target="#navbar-example">
   
   
	
  <div id="content" class="container">
         
	<!--Navbar-->
<nav id="navbar-example2" class="navbar navbar-expand-lg navbar-light fixed-top bg-danger">
  <a class="navbar-brand text-light" href="#">Make-up</a>
  
  <div class="hamburger-menu">
	 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span></span>
		<span></span>
		<span></span>
	  </button>
  </div>
  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
	
<div id="navbar-example">
	<ul class="nav nav-pills">
	
    <li class="nav-item">
      <a class="nav-item nav-link active" href="#home" class="page-scroll">Home <span class="sr-only">(current)</span></a>
	  </li>
	  
	  <li class="nav-item">
		<a class="nav-item nav-link" href="/speakers" class="page-scroll">speakers</a>
		</li>
		
		 <li class="nav-item">
		<a class="nav-item nav-link" href="/speakers/add" class="page-scroll">add speaker</a>
		</li>
		
		<li class="nav-item">
		  <a class="nav-link " href="/events/add">add event</a>
		</li>
  <li class="nav-item">
	<a class="nav-link " href="/events/list">events</a>
  </li>
		
	  
	  
	  
	  <li class="nav-item">
                        <a class="nav-link " href="/logout">logout</a>
                </li>
	  </ul>
</div>	  
	  
    </div>
  </div>
</nav>
<!--/.Navbar-->



 

  
  <!--end container-->
  
</div>

<!--------------scrpt------------>
<script src="/js/bootstrap.js"></script>
<script src="/js/jquery.min.js"></script> 
	<script>
		$(function (){
		 
		  $("#send").on("click" , function(){
		  
		  $("#display").append(" username is : "+ $('#username').val()+" "+" password is : "+$('#pass').val()+"<br/>");
		
		}); });
		
		</script>
	
	
	 
	</body>
	
	</html>