

 body{

      overflow-x: hidden;
      }
      


      html,body {
    height:100%;
  }
  
  .first {
    /* height:100vh; */
    min-height:700px;
    background-size:cover;
    background-image:url("img/banner_bg.png");
  }
  
  .affix {
    background-color: #eee;
    -webkit-transition:padding 0.2s ease-out;
    -moz-transition:padding 0.2s ease-out;  
    -o-transition:padding 0.2s ease-out;         
    transition:padding 0.2s ease-out;
  }
  
  @media (min-width:768px) {
      .affix-top {
        /* navbar style at top */
        background-color:transparent;
        border-color:transparent;
        padding: 15px;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease; 
        -o-transition:all 0.5s ease;         
        transition:all 0.5s ease;  
      }
  }
  
  nav .navbar-nav .nav-link,
  nav .navbar-brand {
     color: #000;
  }
  
  section {
    height:calc(90% - 50px);
    height: 90vh;
  }
  

  li a{

    font-size: 17px;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: weight;
    
  }

  li a:hover{

    color:#ffcc00;
  }
 

       

  #bt:hover{

background-color:#ffcc00;

}

#bt{

border: 2px solid#ffcc00;

}

#header{

margin-top:250px;

/* padding-right:50px; */

padding-left:100px;
}




#header{

position: absolute;

z-index:1;


}

#light{

position: absolute;
left: 20px;
top:5px;
z-index:-1;
}


#yellow{

position: absolute;

top:650px;

margin-left:100px;
}


.pl-5, .px-5 {
padding-left: 15rem !important;
}

footer{

margin-top:100px;

     
background-color:#00c0ff;

 

}





.container{
    max-width: 1500px;

    /* background-color:#00c0ff; */

}

.text-muted{

/* color:black!important; */


/* color: #7a7a7a; */

font-size:15px;
 margin-left:-55px;
} /*end--footer*/

/* .heading{

/* color:white; *
font-weight: 600;
margin-left:-54px;
margin-bottom:25px;
} */


/* #footer{

margin-left:230px;
} */


h5{

  margin-left:-60px;
} /*end--footer*/

#nav{

background-color: rgba(56, 200, 255, .5);
border-color: rgba(56, 200, 255, 0.7);



}

.mt-5, .my-5 {
margin-top: 7rem !important;

/* margin-left:1rem !important; */
}


.jumbotron{

    padding-top:130px;

    background-color:#00c0ff!important;
}


.btn {


    background-color: #ffcc00;
    color:black;
}


h3{

    font-size: 20px;
}





.form-group .btn_1 {
    margin-bottom: -30px;
    border: 1px solid #999999;
    border-radius: 0;
    color: #000;
    display: flex;
    align-items: center;
    background-color:white;

    
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  @media (max-width: 991px) {
    
    .form-group .btn_1 {
      margin-bottom: 20px;

      
    }

  }
  

   .form-group .btn_1 i {
    color: #000;
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    margin-left: 20px;
    background-size: 200% auto;
    -webkit-transition: 0.5s;
    transition: 0.5s;

   
    background-color:#00c0ff;
  }


.fa{

    font-size: 30px;
  }
  
 
  .form-group .btn_1:hover {
    border: 1px solid #ffcc00;
    color: #ffcc00 !important;
  }
  
 
  .form-group .btn_1:hover i {
    color: #ffcc00;
    color: #fff !important;
  }