<html>
    <head>

    </head>
    <body>
            
        <body style="background-color:whitesmoke">
                <br/><br/><br/><br/><br/><br/>

            

                <center>    
        <div style="color:red">
            <%=msg %>
        </div>
    </center>

        <br/>

        <div class="container">
                <div class="col-4 offset-4">
                        <center>
        <form action="/login" method="POST">
                <input  class="form-control"  type="text" name="UserName" /><br/>
                <input   class="form-control" type="password" name="UserPassword"/><br/>
                <input class="btn btn-lg btn-primary btn-block" type="submit"  value="login"/><br/>
        </form>

                 </center>
        </div>
        </div>

   
    </body>
</html>