<html>
    <head>
            <title>User Login RegisForm</title>
    </head>
    <body>

        <br/> <br/> <br/> <br/> <br/>
            <div  style="background-color:silver; height: 350px; padding: 10px; margin: 10px auto; width: 500px;">

            <div class=" background-image: -webkit-linear-gradient(purple,brown,yellow)">
                   
                        <form action="/register" method="POST" id="form1">
                    <div class="form-group" style="max-width: 400px;">
                        <h2 class="form-signin-heading">
                            Registration</h2>
                            <!-- <div class="input-group">
                            <label for="txtName">
                                Name</label>
                            <input name="txtName" type="text" id="txtName"  class="form-control" placeholder="Enter Name"
                                required /></div>
                                <br/>-->
                                <div class="input-group"> 
                        <label for="txtUsername">
                            Username</label>
                        <input name="txtUsername" type="text" id="txtUsername" class="form-control " placeholder="Enter Username"
                            required /></div>
                        <br /><div class="input-group">
                        <label for="txtPassword">
                            Password</label>
                        <input name="txtPassword" type="password" id="txtPassword" title="Password must contain: Minimum 8 characters atleast 1 Alphabet and 1 Number"
                            class="form-control " placeholder="Enter Password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" />
                        <br /></div><br/><div class="input-group">
                        <label for="txtConfirmPassword">
                            Confirm Password</label>
                        <input name="txtConfirmPassword" type="password" id="txtConfirmPassword" class="form-control "
                            placeholder="Confirm Password" />
                        <br /></div><br/><div class="input-group">
                        <label for="txtJobTitle">
                          JobTitle</label>
                      <input name="txtJobTitle" type="text" id="txtJobTitle" class="form-control " placeholder="Enter JobTitle"
                          required /></div>
                          <br/>
                          <div class="form-check-inline">
                            <input type="radio" class="form-check-input " /><label class="form-check-label">Male</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="radio" class="form-check-input " /><label class="form-check-label">Female</label>
                        </div>
                        <hr />
                        <input type="submit" value="Login"  class="btn btn-primary mt-5" />
                    </div>
                    </form>
                    </div>
                    </div> 
                    <script type="text/javascript">
                        window.onload = function () {
                            var txtPassword = document.getElementById("txtPassword");
                            var txtConfirmPassword = document.getElementById("txtConfirmPassword");
                            txtPassword.onchange = ConfirmPassword;
                            txtConfirmPassword.onkeyup = ConfirmPassword;
                            function ConfirmPassword() {
                                txtConfirmPassword.setCustomValidity("");
                                if (txtPassword.value != txtConfirmPassword.value) {
                                    txtConfirmPassword.setCustomValidity("Passwords do not match.");
                                }
                            }
                        }
                    </script>
                    
    </body>
</html>

