ul li{
   
 
    border-bottom-color: rgb(51, 51, 51);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(51, 51, 51);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(51, 51, 51);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(51, 51, 51);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(51, 51, 51);
font-family: "Avenir Light", Arial, Helvetica, sans-serif;
font-feature-settings: normal;
font-kerning: auto;
font-language-override: normal;
font-optical-sizing: auto;
font-size: 0px;
font-size-adjust: none;
font-stretch: 100%;
font-style: normal;
font-variant: normal;
font-variant-alternates: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-variant-position: normal;
font-variation-settings: normal;
font-weight: 400;
line-height: 22px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: center;
vertical-align: baseline;
}




.col-lg-4 ul li {
    
    display: flex;
    align-items: flex-start;
 
    vertical-align: top;
    color: #a5a5a5;

}
.menu ul li a:hover {

    
    color:white;

}

.col-lg-4 {

    margin: 0 0px 25px;
    width: auto !important;
    text-align: center;

}


.form_veri  input{

    color: white;
   background-color: rgb(13, 150, 112);
  
   padding-right:5px;
   padding-left: 5px;
   padding: 5px; 
   font-size: 20px;

}

.form_veri input:hover{

   background-color: #4e4d4d;
}



.form_veri  h5{
    margin-left: 70px;
    color: white;
   background-color: rgb(13, 150, 112);
  
   padding-right:5px;
   padding-left: 5px;
   padding: 5px; 
   font-size: 20px;
   width:250px ;
   height:50px ;
   padding: 10px;

}

.form_veri h5:hover{

   background-color: #4e4d4d;
}

.col-lg-4{

    
   
    vertical-align: top;

}

.col-lg-4 h3 {

    border-bottom: 1px solid #1b1b1b;
    padding-bottom: 15px;
    display: block;
    padding-right: 200px;

}

.col-lg-4 h3 {

    font-family: 'Avenir Black';
   
    font-style: normal;
    font-size: 16px;
    color: #4e4d4d;
    
    
    text-transform: uppercase;
    font-weight: bold;


}



.col-lg-4 #menu-item{
    text-align: center;
    padding-right: 80px;
    line-height: 200%;
    font-size: 18px;
    width:170%;
}


.form_veri #a1{
   
    
    left: 43%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:#0d9670;
    color: white;
    font-size: 16px;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin: 50px;
    
   
  }
  
  .form_veri #a1:hover {
    background-color: black;
    color: white;
  }

.navbar-dark .navbar-nav .nav-link{
	
    color:#a5a19e;
	font-weight:bold;	
	font-size:25px;
    margin-left:5px;
    padding-left: 10px;
    display: inline-block;
  position: relative;
	
}





.navbar-expand-lg{

    background-color: black;
    
   /*background-color: rgb(8, 8, 8);opacity:2.0;*/

}


.navbar-nav .nav-item .nav-link:hover{
	
	color:white;
	font-weight:bold;	
	font-size:20px;
    margin-left:5px;
	
}

.navbar-nav a.active {
    border-bottom: 3px solid #16855d;
  }

  .navbar-nav a:hover {
    border-bottom: 3px solid #16855d;
  }


.bg-image .d-block #bk{
    margin-left:-150px;
    width:1400px ;
    height:560px ;
}


main {
     margin-left: 120px;
    padding: 20px 10px;
    margin-bottom:-70px;
    height:33%;
    width: auto;
    display: block;
    position: static;

}

main {

    background: rgba(3,70,142,0.8);
    padding: 32px 80px 27px 30px;
    width: 600px;
    display: inline-block;
    vertical-align: top;
    -webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 12px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.4);
    position: absolute;
    bottom: 50px;
    left: 0;

}

main h1 span {

    display: block;
    font-size: 14px;
    color: #aaa9a9;
    text-transform: uppercase;
    line-height: 140%;
    margin-bottom: 5px;

}

ul, h1, h2, h3, h4 {

    list-style: none;

}

main .main_par {

    font-size: 19px;
    color: #fff;
    line-height: 28px;

}

main p {

    text-align: left;
    font-family: 'Avenir Light';
    font-weight: 200;
    font-size: 15px;
    color:white;
    line-height: 30px;
    margin-bottom: 20px;

}

main .main_btn {

    font-family: 'Avenir Black';
    font-weight: 800;
    font-size: 14px;
    color: #bababa;
    line-height: 30%;
    letter-spacing: 1px;
    margin-top: 22px;
    display: inline-block;

}

a {

    text-decoration: none;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;

}

main h1 {

    font-family: 'Avenir Black';
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    line-height: 115%;
    margin-bottom: 13px;

}


/*-----------start---footer---------------*/

footer{
    background-color:black;
    display: block;
    
}
.ftr_top {

    font-size: 0;

}
.wrapper {

    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
    margin-left: 20px;
    display: flex;
    align-items: flex-start;
 
}



ul li{
   
 
    border-bottom-color: rgb(51, 51, 51);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(51, 51, 51);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(51, 51, 51);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(51, 51, 51);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(51, 51, 51);
font-family: "Avenir Light", Arial, Helvetica, sans-serif;
font-feature-settings: normal;
font-kerning: auto;
font-language-override: normal;
font-optical-sizing: auto;
font-size: 0px;
font-size-adjust: none;
font-stretch: 100%;
font-style: normal;
font-variant: normal;
font-variant-alternates: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-variant-position: normal;
font-variation-settings: normal;
font-weight: 400;
line-height: 22px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: center;
vertical-align: baseline;
}




.col-lg-4 ul li {
    
    display: flex;
    align-items: flex-start;
 
    vertical-align: top;
    color: #a5a5a5;

}
.menu ul li a:hover {

    
    color:white;

}

.col-lg-4 {

    margin: 0 0px 25px;
    width: auto !important;
    text-align: center;

}

.col-lg-4{

    
   
    vertical-align: top;

}

.col-lg-4 h3 {

    border-bottom: 1px solid #1b1b1b;
    padding-bottom: 15px;
    display: block;
    padding-right: 200px;

}

.col-lg-4 h3 {

    font-family: 'Avenir Black';
   
    font-style: normal;
    font-size: 16px;
    color: #4e4d4d;
    
    
    text-transform: uppercase;
    font-weight: bold;


}



.col-lg-4 #menu-item{
    text-align: center;
    padding-right: 80px;
    line-height: 200%;
    font-size: 18px;
    width:170%;
}


/*-----------ed------footer---------------*/





/*-----------------------about---us-------------------*/



.wrapper {

    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    position: relative;

    padding: 25px 0;

}

.wrapper h1 {

    width: 20%;  /*98*/
    height: auto;
    padding: 50px 10px 50px;
    text-align: center;
    float: none;
    display: block;
    margin: 0 auto 25px;

}

.wrapper h1 {

    float: left;
    font-family: 'Avenir Black';
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    
    background: #03468e;
    position: relative;
    line-height: 38px;
}


.wrapper h1 span {

    display: block;
    font-size: 75px;
    color: #fff;
    text-transform: uppercase;
    line-height: 75px;

}

/*
.about_content_info_desc {

    width: 100%;
    float: none;
    display: block;
    padding: 0;
    text-align: center;
   

}


.about_content_info_desc h2 {

    font-family: 'Avenir Black';
    font-size: 14px;
    color: #03468e;
    font-weight: bold;
    text-transform: uppercase;
    /*margin-left: 70px;**
    display: flex;
    align-items: flex-start;
    

}

.about_content_info_desc p {

    font-family: 'Avenir Black';
    font-size: 25px;
    color: #262626;
    font-weight: bold;
    line-height: 30px;
    display: flex;
    align-items: flex-start;
    
    /*margin-left: 80px;*****
    text-align: center;
    margin-bottom: 20px;
    

}

.fadeInRight {

    animation-name: fadeInRight;

}
.about_content_info_desc {

    display: inline-block;
    vertical-align: top;
    width: 46%;
    margin: 0 10px;

}
.ab2 {

    animation-delay: .2s;

}


.about_content_info {

    text-align: center;

}



.about_content_info {

    width: 100%;
    float: none;
    display: block;
    padding: 0;
    text-align: center;

}

*/

.col-lg-6 h4{

    font-size: 20px;
    font-weight: bold;
    color:#03468e;
}

 .col-lg-6 #pp{
    font-size: 25px!important;
    
}


/*---------------------image&div--------------------*/
.bg-image .d-block #bk{
    margin-left:-150px;
    width:1400px ;
    height:560px ;
}


main {
     margin-left: 120px;
    padding: 20px 10px;
    margin-bottom:-300px;
    height:33%;
    width: auto;
    display: block;
    position: static;

}

main {

    background: #03468e;
    padding: 30px 30px 27px 30px;
    margin-top:10px;
    margin-left: 95px;
    width: 1160px;
    height:250px ;
    
    display: inline-block;
    vertical-align: top;
    -webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 12px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.4);
    position: absolute;
    bottom: 50px;
    left: 0;

}

main h1 span {

    display: block;
    font-size: 18px;
    color: #aaa9a9;
    text-transform: uppercase;
    line-height: 140%;
    margin-bottom: 5px;

}

ul, h1, h2, h3, h4 {

    list-style: none;

}

main .main_par {

    font-size: 19px;
    color: #fff;
    line-height: 28px;

}

main p {

    text-align: left;
    font-family: 'Avenir Light';
    font-weight: 200;
    font-size: 20px;
    color:rgb(165, 161, 158);
    line-height: 30px;
    margin-bottom: 20px;
    padding-left: 20px;
   
}




main h1 {

    font-family: 'Avenir Black';
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    line-height: 115%;
    margin-bottom: 13px;

}

.col-lg-6{

    
    padding-left: -30px;

}

.col-lg-6 h2{
    color: white;
    
    margin-left: 20px;
}


.col-lg-6{

    
   
    vertical-align: top;

}



.col-lg-6 h3 {

    border-bottom: 1px solid #1b1b1b;
    padding-bottom: 15px;
    display: block;
    padding-right: 200px;

}

.col-lg-6 h3 {

    font-family: 'Avenir Black';
   
    font-style: normal;
    font-size: 16px;
    color: #4e4d4d;
    
    
    text-transform: uppercase;
    font-weight: bold;


}




 span{

    font-weight: bold;

    color: #ff5152;


}