.bg-image .d-block #bk{
    margin-left:-150px;
    width:1405px ;
    height:654px ;
}


main {
     margin-left: 100px;
    padding: 0px 10px;
    margin-bottom:20px;
    height:33%;
    width: auto;
    display: block;
    position: static;

}



main {

    background: rgba(3,70,142,0.8);
    padding: 32px 80px 27px 30px;
    width: 600px;
    display: inline-block;
    vertical-align: top;
    -webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 12px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.4);
    position: absolute;
    bottom: 50px;
    left: 0;

}

main h1 span {

    display: block;
    font-size: 18px;
    color: #aaa9a9;
    text-transform: uppercase;
    line-height: 140%;
    margin-bottom: 5px;

}

ul, h1, h2, h3, h4 {

    list-style: none;

}

main .main_par {

    font-size: 19px;
    color: #fff;
    line-height: 28px;

}

main p {

    text-align: left;
    font-family: 'Avenir Light';
    font-weight: 200;
    font-size: 20px;
    color:white;
    line-height: 30px;
    margin-bottom: 20px;

}

main .main_btn {

    font-family: 'Avenir Black';
    font-weight: 800;
    font-size: 14px;
    color: #bababa;
    line-height: 30%;
    letter-spacing: 1px;
    margin-top: 22px;
    display: inline-block;

}

a {

    text-decoration: none;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;

}

main h1 {

    font-family: 'Avenir Black';
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    line-height: 115%;
    margin-bottom: 13px;

}



main #a1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin: 50px;
   
  }
  
  main #a1:hover {
    background-color: black;
    color: white;
  }


  main #a2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin: 50px;
    margin-left: -100px;
  }
  
  main #a2:hover {
    background-color: black;
    color: white;
  }

  