
.navbar-dark .navbar-nav .nav-link{
	
    color:#a5a19e;
	font-weight:bold;	
	font-size:25px;
    margin-left:5px;
    padding-left: 10px;
    display: inline-block;
  position: relative;
	
}





.navbar-expand-lg{

    background-color: black;
    
   /*background-color: rgb(8, 8, 8);opacity:2.0;*/

}


.navbar-nav .nav-item .nav-link:hover{
	
	color:white;
	font-weight:bold;	
	font-size:20px;
    margin-left:5px;
	
}

.navbar-nav a.active {
    border-bottom: 3px solid #16855d;
  }

  .navbar-nav a:hover {
    border-bottom: 3px solid #16855d;
  }

  

  

.bg-image .d-block #bk{
    margin-left:-150px;
    width:1400px ;
    height:560px ;
}


 

main {
    margin-left: 120px;
    padding: 30px 20px 30px 20px;
    margin-bottom:-50px;
    height:35%;
    width: auto;
    display: block;
    position: static;

}

main {

    background: rgba(3,70,142,0.8);
    padding: 25px 16px 60px 45px;
    width: 600px;
    display: inline-block;
    vertical-align: top;
    -webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 12px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.4);
    position: absolute;
    bottom: 50px;
    left: 0;

}




main h1 span {

    display: block;
    font-size: 18px;
    color: #aaa9a9;
    text-transform: uppercase;
    line-height: 140%;
    margin-bottom: 5px;

}

ul, h1, h2, h3, h4 {

    list-style: none;

}

main .main_par {

    font-size: 19px;
    color: #fff;
    line-height: 28px;

}

main p {

    text-align: left;
    font-family: 'Avenir Light';
    font-weight: 200;
    font-size: 20px;
    color:white;
    line-height: 30px;
    margin-bottom: 20px;

}

main .main_btn {

    font-family: 'Avenir Black';
    font-weight: 800;
    font-size: 14px;
    color: #bababa;
    line-height: 30%;
    letter-spacing: 1px;
    margin-top: 22px;
    display: inline-block;

}

a {

    text-decoration: none;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;

}

main h1 {

    font-family: 'Avenir Black';
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    line-height: 115%;
    margin-bottom: 13px;

}


/*-----------start---footer---------------*/

footer{
    background-color:black;
    display: block;
    
}



.ftr_top {

    font-size: 0;
    

}
.wrapper {

    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
    margin-left: 20px;
    display: flex;
    align-items: flex-start;
 
}



ul li{
   
 
    border-bottom-color: rgb(51, 51, 51);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(51, 51, 51);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(51, 51, 51);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(51, 51, 51);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(51, 51, 51);
font-family: "Avenir Light", Arial, Helvetica, sans-serif;
font-feature-settings: normal;
font-kerning: auto;
font-language-override: normal;
font-optical-sizing: auto;
font-size: 0px;
font-size-adjust: none;
font-stretch: 100%;
font-style: normal;
font-variant: normal;
font-variant-alternates: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-variant-position: normal;
font-variation-settings: normal;
font-weight: 400;
line-height: 22px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: center;
vertical-align: baseline;
}

/*
li #menu-item{
    border-bottom-color: rgb(165, 165, 165);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(165, 165, 165);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(165, 165, 165);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(165, 165, 165);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(165, 165, 165);
display: block;
font-family: "Avenir Light";
font-feature-settings: normal;
font-kerning: auto;
font-language-override: normal;
font-optical-sizing: auto;
font-size: 16px;
font-size-adjust: none;
font-stretch: 100%;
font-style: normal;
font-variant: normal;
font-variant-alternates: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-variant-position: normal;
font-variation-settings: normal;
font-weight: 300;
line-height: 22px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 15px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
text-align: center;
vertical-align: top;
}
*/



.col-lg-4 ul li {
    
    display: flex;
    align-items: flex-start;
 
    vertical-align: top;
    color: #a5a5a5;

}
.menu ul li a:hover {

    
    color:white;

}

.col-lg-4 {

    margin: 0 0px 25px;
    width: auto !important;
    text-align: center;

}

.col-lg-4{

    
   
    vertical-align: top;

}

.col-lg-4 h3 {

    border-bottom: 1px solid #1b1b1b;
    padding-bottom: 15px;
    display: block;
    padding-right: 200px;

}

.col-lg-4 h3 {

    font-family: 'Avenir Black';
   
    font-style: normal;
    font-size: 16px;
    color: #4e4d4d;
    
    
    text-transform: uppercase;
    font-weight: bold;


}



.col-lg-4 #menu-item{
    text-align: center;
    padding-right: 80px;
    line-height: 200%;
    font-size: 18px;
    width:170%;
}


/*-----------ed------footer---------------*/



/*------------paragraph--------------*/
@media screen and (min-width: 601px) {
    .featured-image .d-block {
      font-size:16px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .featured-image .d-block  {
      font-size:16px;
    }
  }

/*-----------end--paragraph----------*/

.d-block a.btnn{

   margin-top: 5px!important;
  display: block;
    font-family: 'Avenir Black';
    font-weight: 800;
    font-size: 18px;
    color: #e6e8e8;
    height: 57px;
    line-height: 57px;
    border-radius: 8px;
    background: #16855d;
    border: 1px solid #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 40px ;
     margin-left:450px;
     padding: 0 10px;

}


.photo img:hover{

    height: 400px ;
    width:280px;
    -webkit-transition:-webkit-transform , border .2s;
    
	border:3px dashed #16855d;

	
}

/*---------------------------------Contact--US-----------------------------------------------*/


.col-lg-10{
    float: right;
    width: calc(100% - 315px);
    max-width: 100%;
}


.col-lg-10 h2 {

    font-size: 25px;
    line-height: 35px;
    margin-bottom: 15px;

}
.col-lg-10 h2 {

    font-family: 'Avenir Black';
    color: #262626;
    font-weight: bold;

}

mark {

    background-color: transparent;

}

.contact_form form {

    margin: 25px auto 0;
    padding-bottom: 0;

}


.contact_form form .fgroup {

    display: inline-block;
    vertical-align: top;
    width: 49.5%;
    position: relative;

}

@media (min-width:1200px) {

    .fgroup input{

       
        width:750px!important;
        
        margin-left:80px;
    }
    
}
 
@media (min-width:1200px) {
   .form .col-lg-10 h2 {
      
      margin-left: 80px;
   }

}


@media (min-width:1000px) and (max-width:1200px) {
    .fgroup input{

       
       width:750px!important;
       
       margin-left:-25px;
   }
}


@media (min-width:1000px) and (max-width:1110px) {

    .form .form_btn{

        margin-left:300px!important;
    }
    
}

@media (min-width:800px) and (max-width:999px) {
    .fgroup input{

       
       width:630px!important;
       
       margin-left:-10px;
   }
}

@media (min-width:800px) and (max-width:1000px) {

    .form .form_btn{

        margin-left:240px!important;
    }
    
}

@media (min-width:755px) and (max-width:800px) {
    .fgroup input{

       
       width:580px!important;
       
       margin-left:-10px;
   }
}


@media (min-width:620px) and (max-width:750px) {
    .fgroup input{

       
       width:500px!important;
       
       margin-left:-10px;
   }
}

@media (min-width:500px) and (max-width:610px) {
    .fgroup input{

       
       width:450px!important;
       
       margin-left:-10px;
   }
}

@media (min-width:500px) and (max-width:600px) {

    .form .form_btn{

        margin-left:150px!important;
    }
    
}

@media (min-width: 415px) and (max-width: 500px) {
    .fgroup input{

       
       width:370px!important;
       
       margin-left:-10px;
   }
}


@media (min-width: 415px) and (max-width:500px) {
   
    
    .form .form_btn{

        margin-left:120px!important;
    }
}



@media (min-width: 360px) and (max-width: 414px) {
     .fgroup input{

        
        width:320px!important;
        
        margin-left:-10px;
    }
}



@media (min-width: 360px) and (max-width:414px) {
    .form .form_btn{

        margin-left:40px!important;
    }

}

@media (min-width: 300px) and (max-width:360px) {
    .fgroup input{

       
       width: 230px!important;
       
   
   }
}

@media (min-width: 300px) and (max-width:360px) {
    .form .form_btn{

        margin-left:40px;
    }

}

/*---------------------------*/

.inputMaterial:required {

    box-shadow: none !important;
}

/*
.contact_form label {

    font-family: 'Avenir Medium';
    font-size: 12px;
    color: #424242;
    position: absolute;
    top: 19px;
    left: 19px;
    transition: .2s ease all;
    -moz-transition: .2s ease all;
    -webkit-transition: .2s ease all;
    pointer-events: none;
    line-height: initial;

}*/

.contact_form input {

    border: 1px solid #00bbb6;
    
    background: #fff;
    font-family: 'Avenir Medium';
    font-size: 30px;
    color: #424242;
   
    border-radius: 8px;
    margin-bottom: 10px;

}


.spam_area {

    opacity: 0;
    height: 5px !important;
    position: absolute;
    width: 21% !important;
    top: 34%;
    padding: 10px !important;

}

input, textarea, select {

    -webkit-appearance: none;

}

.contact_form form .fgroup:nth-child(2n) {

    float: right;

}
.contact_form form .fgroup {

    display: inline-block;
    vertical-align: top;
    width: 49.5%;
    position: relative;

}

@media (min-width: 800px) and (max-width: 992px) { 

    .form .col-lg-2{
       
      margin-left: 40px;
      width: 400px!important;
      font-size: 18px!important;
      
      display:inline-block;
      margin-bottom: 15px;
      }}


      @media (min-width: 800px) and (max-width: 991px) { 
             .d-block a.btnn{

              margin-left: 260px;
                
             }
        }


        @media (min-width: 600px) and (max-width: 767px) { 
            .d-block a.btnn{

                
                margin-left: 180px;
               
            }
       }


       @media (min-width: 480px) and (max-width: 599px) { 
        .d-block a.btnn{

            
            margin-left: 150px;
           
        }
   }


   @media (min-width: 440px) and (max-width: 479px) { 
    .d-block a.btnn{

        
        margin-left: 130px;
       
    }
}

@media (min-width: 360px) and (max-width: 439px) { 
    .d-block a.btnn{

        
        margin-left: 110px;
       
    }
}
    

@media (min-width: 600px) and (max-width: 800px) { 

    .form .col-lg-10 h2{
        
        margin-left: 1px;
       width: 470px!important;
       font-size: 20px!important;
       
       display:inline-block;
       }}

       @media (min-width: 600px) and (max-width: 800px) { 

        .form .col-lg-10{
           
            margin-left: 30px;
       width: 450px!important;
       font-size: 20px!important;
       
       display:inline-block;
          }}

          @media (min-width: 600px) and (max-width: 800px) { 

            .form .col-lg-2{
               
              margin-left: 100px;
              margin-bottom: 20px;
              width: 400px!important;
              font-size: 18px!important;
              
              display:inline-block;
              margin-bottom: 15px;
              }}


              @media (min-width: 422px) and (max-width: 774px) { 

                .bg-image .d-block img{

                    width:800px!important;
                    height:500px!important;

                }
                
                   }
            

@media (min-width: 422px) and (max-width: 600px) { 

    .form .col-lg-10 h2{
        
        margin-left: -5px;
       width: 430px!important;
       font-size: 20px!important;
       
       display:inline-block;
       }}

       @media (min-width: 422px) and (max-width: 600px) { 

        .form .col-lg-10{
           
            margin-left: -40px;
       width: 450px!important;
       font-size: 20px!important;
       
       display:inline-block;
          }}

          @media (min-width: 422px) and (max-width: 600px) { 

            .form .col-lg-2{
               
              margin-left: 40px;
              width: 400px!important;
              font-size: 18px!important;
              
              display:inline-block;
              margin-bottom: 15px;
              }}

@media (min-width: 360px) and (max-width: 450px) { 

    .form .col-lg-10 h2{
        
       margin-left: -5px;
       width: 420px!important;
       font-size: 20px!important;
       
       display:inline-block;
       }}

       @media (min-width: 360px) and (max-width: 450px) { 

        .form .col-lg-10{
           
            margin-left: -30px;
            width: 420px!important;
            font-size: 20px!important;
            
            display:inline-block;
          }}

          @media (min-width: 360px) and (max-width: 450px) { 

            .form .col-lg-2{
               
              margin-left: 40px;
              width: 400px!important;
              font-size: 18px!important;
              
              display:inline-block;
              margin-bottom: 15px;
              }}
    


@media (min-width: 300px) and (max-width: 399px) { 

 .form .col-lg-10 h2{
     
    margin-left: -10px;
    width: 300px!important;
    font-size: 18px!important;
    
    display:inline-block;
    }}

    @media (min-width: 300px) and (max-width: 399px) { 

  .form .col-lg-10{
     
    margin-left: -40px;
    width: 400px!important;
    font-size: 18px!important;
    
    display:inline-block;
    }}
   
    
    @media (min-width: 300px) and (max-width: 399px) { 

        .form .col-lg-2{
           
          margin-left: 25px;
          width: 400px!important;
          font-size: 18px!important;
          
          display:inline-block;
          margin-bottom: 15px;
          }}


.form_veri  input{

     color: white;
    background-color: rgb(13, 150, 112);
    margin: 30px;
    margin-left: 430px;
    padding-right:5px;
    padding-left: 5px;
    padding: 5px; 
    font-size: 20px;

}

@media (min-width: 768px) and (max-width: 991.98px){

    .form_veri  input{

        
       margin-left: 180px!important;
      
   }
 }


 @media (min-width: 375px) and (max-width:414px){

    .form_veri  input{

        
       margin-left: -100px!important;
      
   }
 }

@media (min-width: 360px) and (max-width: 767.98px) {

    .form_veri  input{

        
       margin-left: 200px!important;
      
   }
 }


.form_veri input:hover{

    background-color: #4e4d4d;
}

.col-lg-2 h1{
    font-size: 20px;

    margin-left: -110px;
}

.col-lg-2 span{
    font-size: 30px;
    color:  rgb(13, 150, 112);
    margin-left: 43px;
    font-weight: bold;
}

.col-lg-2 small{
    font-size: 20px;
    color:rgb(165, 161, 158);
    margin-left: 44px;
}

/*.col-lg-10 form{
    margin-right: -80px;
}*/



.col-lg-2 #aa{
    margin-left: 44px;
    font-size: 15px;
    color:rgb(165, 161, 158);
}





#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i .fas .fa-chevron-down{
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 25px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}