@media (min-width:600px) and (max-width:900px) {

   p{
	   
	   width:800px!important;
   }
    
}


@media (min-width:400px) and (max-width:600px) {

   p{
	   
	   width:600px!important;
	   
   }
    
}


@media (min-width:350px) and (max-width:400px) {

   p{
	   
	   width:550px!important;
   }
    
}



@media (min-width:300px) and (max-width:350px) {

   p{
	   
	   width:500px!important;
   }
    
}



@media (min-width:200px) and (max-width:300px) {

   p{
	   
	   width:450px!important;
   }
    
}



@media (min-width:900px) and (max-width:1200px) {

   #rhh , .roooh , #rh ,#rg {
	   
	   width:150px!important;
   }
    
}


@media (min-width:900px) and (max-width:1200px) {

  .se {
	   
	   margin-left:-20px!important;
   }
    
}



@media (min-width:300px) and (max-width:800px) {
.c-card{
	
	width:600px!important;
	
	
	
}

}


@media (min-width:300px) and (max-width:800px) {
.c-card img {
	
	width:500px!important;
	
	
	
}

}


@media (min-width:300px) and (max-width:800px) {
.c-card .card-text {
	
	font-size:12px!important;
	
	
	
}

}




.navbar-dark .navbar-nav .nav-link{
	
  color:#a5a19e;
font-weight:bold;	
font-size:20px;
  margin-left:5px;
  padding-left: 10px;
  display: inline-block;
position: relative;

}


.navbar-nav{
	
	 background-color: black!important;
}



nav{
	
	 background-color: black;
}


nav li{
	
	 background-color: black;
}





.navbar-expand-lg{

  background-color: black;
  
 /*background-color: rgb(8, 8, 8);opacity:2.0;*/
 height: 80px;
}


.navbar-nav .nav-item .nav-link:hover{

color:white;
font-weight:bold;	
font-size:20px;
  margin-left:5px;

}

.navbar-nav a.active {
  border-bottom: 3px solid #16855d;
}

.navbar-nav a:hover {
  border-bottom: 3px solid #16855d;
}


.topnav-right{

  margin-left:590px;
}


.carousel-indicators li{

border-radius: 50% 50%;
}


.carousel-caption h1 span {

display: block;
font-size: 18px;
color: #aaa9a9;
text-transform: uppercase;
line-height: 140%;
margin-bottom: 5px;

}

ul, h1, h2, h3, h4 {

list-style: none;

}

.carousel-caption .carousel-caption_par {

font-size: 19px;
color: #fff;
line-height: 28px;

}

.carousel-caption p {

text-align: left;
font-family: 'Avenir Light';
font-weight: 200;
font-size: 20px;
color:white;
line-height: 30px;
margin-bottom: 20px;

}

.carousel-caption .main_btn {

font-family: 'Avenir Black';
font-weight: 800;
font-size: 14px;
color: #bababa;
line-height: 30%;
letter-spacing: 1px;
margin-top: 22px;
display: inline-block;

}

a {

text-decoration: none;
-webkit-transition: all .3s linear;
transition: all .3s linear;

}

.carousel-caption h1 {

font-family: 'Avenir Black';
font-weight: 800;
font-size: 20px;
color: #fff;
line-height: 115%;
margin-bottom: 13px;

}



.carousel-caption{

margin-bottom:30px;
background: rgba(3,70,142,0.8);
  padding: 25px 16px 60px 45px;
  width: 600px;
  height:35%;
  margin-left:180px;

}

.carousel-item {
-webkit-transition: 0.9s ease-in-out left;
transition: 0.9s ease-in-out left;
-webkit-transition: 0.9s, ease-in-out, left;
-moz-transition: .9s, ease-in-out, left;
-o-transition: .9s, ease-in-out, left;
transition: .9s, ease-in-out, left;
}


/*---------------------------Start--Division-----------------------------*/

   /*-----Star--latest-post-----Category-----*/
   


   #adv.mt-3, .my-3 {
   
    border: 2px solid rgba(3,70,142,0.8);
}

.c-card{
  border:2px solid rgba(3,70,142,0.8);



}

/* .card-body{
  border:2px solid rgba(3,70,142,0.8);



} */

.g{
  border:2px solid rgba(3,70,142,0.8);

  padding:10px;
  width:825px;
  margin-left: -13px;
}


.card-body font{

   background-color: #aaa9a9;
}

 #f1{
  background-color:#0d9670;
}

 #f2{
  background-color:#ff5152;
}

 #f3{
  background-color: rgba(3,70,142,0.8);
}

.form_veri  input{

  color: white;
 background-color: rgb(13, 150, 112);
 
 font-size: 20px;
 padding:2px;

}

.form_veri #contact_submit_bt{

color: white;
background-color:gray;

font-size: 20px;
padding:2px;

}
/*---------------------------End--Division------------------------------*/



/*-----------start---footer---------------*/


footer{
background-color:black;
display: block;

}



.ftr_top {

font-size: 0;


}
.wrapper {

width: 100%;
max-width: 1180px;
margin: 0 auto;
position: relative;
margin-left: 20px;
display: flex;
align-items: flex-start;

}



ul li{


border-bottom-color: rgb(51, 51, 51);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(51, 51, 51);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(51, 51, 51);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(51, 51, 51);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(51, 51, 51);
font-family: "Avenir Light", Arial, Helvetica, sans-serif;
font-feature-settings: normal;
font-kerning: auto;
font-language-override: normal;
font-optical-sizing: auto;
font-size: 0px;
font-size-adjust: none;
font-stretch: 100%;
font-style: normal;
font-variant: normal;
font-variant-alternates: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-variant-position: normal;
font-variation-settings: normal;
font-weight: 400;
line-height: 22px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: center;
vertical-align: baseline;
}





.col-lg-4 ul li a{

display: flex;
align-items: flex-start;

vertical-align: top;
color:#a5a5a5;
padding: 5px;

}
.col-lg-4 ul li .fa{

display: flex;
align-items: flex-start;

 padding: 5px;

vertical-align: top;
color:#a5a5a5;


}


.col-lg-4 #fr{

margin-left:40px;
}



.menu ul li a:hover {


color:white;

}

.col-lg-4 {

margin: 0 0px 25px;
width: auto !important;
text-align: center;

}

.col-lg-4{



vertical-align: top;

}

.col-lg-4 h3 {

border-bottom: 1px solid #1b1b1b;
padding-bottom: 15px;
display: block;
padding-right: 200px;

}

.col-lg-4 h3 {

font-family: 'Avenir Black';

font-style: normal;
font-size: 16px;
color: #4e4d4d;


text-transform: uppercase;
font-weight: bold;


}



.col-lg-4 #menu-item{
text-align: center;
padding-right: 80px;
line-height: 200%;
font-size: 16px;
width:170%;
}

.fa .f{

margin-right:150px;
}

footer{
color:white;
}

/*-----------ed------footer---------------*/



/*------------------------------------------------------CATEGORIES----HTML---------------------------------------------------------*/

hr{

border:1px solid black;
width:220px;
margin-left: -20px;
}

#rh{

 width:220px;
 margin-left:-60px;
}


.col-lg-12 input{

width:830px;
margin-left:-30px;
border-radius: 50px;
}

.bk-div #pp{
font-size: 20px!important;

padding-left:100px;
  padding-bottom: 30px;
  display: block;
  padding-right: 200px;

}

 #hd {

  width:900px!important;
}
/* .bk-div .h1 h1{

  margin-right: -20px;
} */


#hhr{

  width:300px;
}

#rhh{
  margin-left:-20px;
}

#rg{

  width: 200px;
  margin-left:-12px;
}


.se{

   margin-left: 120px;
}


.ds{

  margin-right: 180px;
}