
@media (min-width:600px) and (max-width:900px) {

   p{
	   
	   width:800px!important;
   }
    
}


@media (min-width:400px) and (max-width:600px) {

   p{
	   
	   width:600px!important;
	   
   }
    
}


@media (min-width:350px) and (max-width:400px) {

   p{
	   
	   width:550px!important;
   }
    
}



@media (min-width:300px) and (max-width:350px) {

   p{
	   
	   width:500px!important;
   }
    
}



@media (min-width:200px) and (max-width:300px) {

   p{
	   
	   width:450px!important;
   }
    
}

@media (min-width:900px) and (max-width:930px) {

p.bb{
	
	width:600px!important;
	
}}



@media (min-width:800px) and (max-width:900px) {

p.bb{
	
	width:500px!important;
	
}}



@media (min-width:700px) and (max-width:800px) {

p.bb{
	
	width:400px!important;
	
}}



@media (min-width:600px) and (max-width:700px) {

p.bb{
	
	width:300px!important;
	
}}



@media (min-width:545px) and (max-width:600px) {

p.bb{
	
	width:250px!important;
	
}}



@media (min-width:500px) and (max-width:545px) {

p.bb{
	
	width:200px!important;
	
}}


@media (min-width:450px) and (max-width:500px) {

p.bb{
	
	width:150px!important;
	
}}


@media (min-width:400px) and (max-width:450px) {

p.bb{
	
	width:100px!important;
	
}}


@media (min-width:300px) and (max-width:400px) {

p.bb{
	
	width:50px!important;
	
}}


@media (min-width:600px) and (max-width:900px) {

   p{
	   
	   width:800px!important;
   }
    
}


@media (min-width:400px) and (max-width:600px) {

   p{
	   
	   width:600px!important;
	   
   }
    
}


@media (min-width:350px) and (max-width:400px) {

   p{
	   
	   width:550px!important;
   }
    
}



@media (min-width:300px) and (max-width:350px) {

   p{
	   
	   width:500px!important;
   }
    
}



@media (min-width:200px) and (max-width:300px) {

   p{
	   
	   width:450px!important;
   }
    
}



@media (min-width:900px) and (max-width:1200px) {

   #rhh , .roooh , #rh ,#rg {
	   
	   width:150px!important;
   }
    
}


@media (min-width:900px) and (max-width:1200px) {

  .se {
	   
	   margin-left:-20px!important;
   }
    
}




@media (min-width:300px) and (max-width:800px) {
.c-card{
	
	width:600px!important;
	
	
	
}

}


@media (min-width:300px) and (max-width:800px) {
.c-card img {
	
	width:500px!important;
	
	
	
}

}


@media (min-width:300px) and (max-width:800px) {
.c-card .card-text {
	
	font-size:12px!important;
	
	
	
}

}



.navbar-dark .navbar-nav .nav-link{
	
    color:#a5a19e;
	font-weight:bold;	
	font-size:20px;
    margin-left:5px;
    padding-left: 10px;
    display: inline-block;
  position: relative;
	
}







nav{
	
	 background-color: black;
}


nav li{
	
	 background-color: black;
}



.navbar-expand-lg{

    background-color: black;
    
   /*background-color: rgb(8, 8, 8);opacity:2.0;*/
   height: 80px;
}


.navbar-nav .nav-item .nav-link:hover{
	
	color:white;
	font-weight:bold;	
	font-size:20px;
    margin-left:5px;
	
}

.navbar-nav a.active {
    border-bottom: 3px solid #16855d;
  }

  .navbar-nav a:hover {
    border-bottom: 3px solid #16855d;
  }




  
  /*-----------start---footer---------------*/


footer{
    background-color:black;
    display: block;
    
  }
  
  
  
  .ftr_top {
  
    font-size: 0;
    
  
  }
  .wrapper {
  
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
    margin-left: 20px;
    display: flex;
    align-items: flex-start;
  
  }
  
  
  
  ul li{
   
  
    border-bottom-color: rgb(51, 51, 51);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(51, 51, 51);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(51, 51, 51);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(51, 51, 51);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  font-family: "Avenir Light", Arial, Helvetica, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-optical-sizing: auto;
  font-size: 0px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 400;
  line-height: 22px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
  vertical-align: baseline;
  }
  
  
  
  
  #mor{
	  
	  margin-left:60px;
  }
  .col-lg-4 ul li a{
    
    display: flex;
    align-items: flex-start;
  
    vertical-align: top;
    color:#a5a5a5;
    padding: 5px;
  
  }
  .col-lg-4 ul li .fa{
    
    display: flex;
    align-items: flex-start;
  
     padding: 5px;
    
    vertical-align: top;
    color:#a5a5a5;
  
  
  }
  
  
  .col-lg-4 #fr{
  
    margin-left:40px;
  }
  
  
  
  .menu ul li a:hover {
  
    
    color:white;
  
  }
  
  .col-lg-4 {
  
    margin: 0 0px 25px;
    width: auto !important;
    text-align: center;
  
  }
  
  .col-lg-4{
  
    
   
    vertical-align: top;
  
  }
  
  .col-lg-4 h3 {
  
    border-bottom: 1px solid #1b1b1b;
    padding-bottom: 15px;
    display: block;
    padding-right: 200px;
  
  }
  
  .col-lg-4 h3 {
  
    font-family: 'Avenir Black';
   
    font-style: normal;
    font-size: 16px;
    color: #4e4d4d;
    
    
    text-transform: uppercase;
    font-weight: bold;
  
  
  }
  
  
  
  .col-lg-4 #menu-item{
    text-align: center;
    padding-right: 80px;
    line-height: 200%;
    font-size: 16px;
    width:170%;
  }
  
  .fa .f{
  
    margin-right:150px;
  }
  
  footer{
    color:white;
  }
  
  /*-----------ed------footer---------------*/


  .bk-div #pp{
    font-size: 20px!important;
    
    padding-left:100px;
      padding-bottom: 30px;
      display: block;
      padding-right: 200px;
  
    }


   #logo .card-img-top{

        height:10px!important;
        width:10px!important;
    }


    .h6{

        margin-left:70px;
    }

    #dt{

        border:1px solid black;

        height:400px;
    }
    h6{
        font-size: 17px;
    }

    #m{

        height:415px;
        width:470px;
    }


    .specific{

        border: 1px solid black;
        
        margin:30px;

        margin-left:100px;
        margin-right:100px;
    }

    #down{

        float:right;

        margin-right:100px;
    }

   
    .word{

        border: 1px solid black;

        padding: 20px;

        
        margin-right:100;

        border-radius:50px 50px;

    }


    .card-body font{

        background-color: #aaa9a9;
     }
   
      #f1{
       background-color:#0d9670;
     }
   
      #f2{
       background-color:#ff5152;
     }
   
      #f3{
       background-color: rgba(3,70,142,0.8);
     }
   
     .form_veri  input{
   
       color: white;
      background-color: rgb(13, 150, 112);
      
      font-size: 20px;
      padding:2px;
   
   }
   
   .form_veri #contact_submit_bt{
   
     color: white;
    background-color:gray;
    
    font-size: 20px;
    padding:2px;
   
   }