<div id="footer">
    
    <div id="social_box">
        <a href="#"><img src="images/facebook.png" alt="facebook" /></a>
        <a href="#"><img src="images/flickr.png" alt="flickr" /></a>
        <a href="#"><img src="images/myspace.png" alt="myspace" /></a>
        <a href="#"><img src="images/twitter.png" alt="twitter" /></a>
        <a href="#"><img src="images/youtube.png" alt="youtube" /></a>
      </div>
      
      <div id="footer_left">
  
        Copyright © 2048 <a href="#">Company Name</a><br />
        <!-- Galaxy by <a rel="nofollow" href="http://www.tooplate.com">Templates</a><br /> -->
          
      </div>
  
      <div class="cleaner"></div>
  </div>
  </div> 
  </div>
  
  </body>
  </html>