<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--

Template 2021 Galaxy

http://www.tooplate.com/view/2021-galaxy

-->
<title>Aliaa</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="tooplate_style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="css/coda-slider.css" type="text/css" charset="utf-8" />

<script src="js/jquery-1.2.6.js" type="text/javascript"></script>
<script src="js/jquery.scrollTo-1.3.3.js" type="text/javascript"></script>
<script src="js/jquery.localscroll-1.2.5.js" type="text/javascript" charset="utf-8"></script>
<script src="js/jquery.serialScroll-1.2.1.js" type="text/javascript" charset="utf-8"></script>
<script src="js/coda-slider.js" type="text/javascript" charset="utf-8"></script>
<script src="js/jquery.easing.1.3.js" type="text/javascript" charset="utf-8"></script>

</head>
<body >
	
<div id="slider" >
   	<div id="tooplate_wrapper">
    	
        <div id="tooplate_header">
            <div id="site_title"><h1><a href="#">ITI</a></h1></div>
            
            <div id="menu">
                <ul class="navigation">
                    <li><a href="/speakers/list" class="selected">Speakers</a></li>
                    <li><a  href="/speakers/add">Add Speakers</a></li>
                    <li><a href="#">Edit Speakers</a></li>
                    <li><a href="#">Remove Speakers</a></li>
                    <li><a href="/events/list"> Events</a></li>
                    <li><a href="/events/add">Add Events</a></li>
                    <li><a href="#">Edit Events</a></li>
                    <li><a href="#">Remove Events</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>    	
            </div> <!-- end of tooplate_menu -->
			