<html>
    <head>
       
<script src="/jquery.min.js"></script>        
<link href="/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/js/bootstrap.js"></script>
</head>
<body>
 	<!--Navbar-->
<nav id="navbar-example2" class="navbar navbar-expand-lg navbar-light fixed-top bg-danger">
  <a class="navbar-brand text-light" href="#">Make-up</a>
  
  <div class="hamburger-menu">
	 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span></span>
		<span></span>
		<span></span>
	  </button>
  </div>
  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
	
<div id="navbar-example">
	<ul class="nav nav-pills">
	
		<li class="nav-item">
		  <a class="nav-item nav-link active" href="#home" class="page-scroll">Home <span class="sr-only">(current)</span></a>
		  </li>
		  
		  <li class="nav-item active">
			<a class="nav-link" href="/speakers/list" >speakers <span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/speakers/add">add speaker</a>
		  </li>
		  <li class="nav-item">
				  <a class="nav-link" href="/events/add">add event</a>
				</li>
		  <li class="nav-item">
			<a class="nav-link" href="/events/list">events</a>
		  </li>
		  
		  
		  <li class="nav-item">
							<a class="nav-link " href="/logout">logout</a>
					</li>
		  </ul>
</div>	  
	  
    </div>
  </div>
</nav>
<!--/.Navbar-->