


body {
    background: #ffffff url('sodo.jpeg'); 
  background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Coda', cursive;
    font-size: 1em; /*16px*/
	
	
}

button {
  height: 100px;
  box-shadow: 0 21px #A5F1A5;
  background: rgba(46, 61, 73, 0.5);
  width: 100px;
  font-size: 20px;
}
button:not([disabled]):active {
  box-shadow: 0 13px #00B61F;
  transform: translateY(10px);
}
button[disabled] {
  background: #00C0FF;
  box-shadow: 0 21px lightblue ;
}
div {
  float: left;
  margin-right: 20px;
}
body:not(button) {
  font-size: 20px;
}
button.solve {
  width: 90px ;
}
