﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/AdminMaster.Master" AutoEventWireup="true" CodeBehind="Faculty.aspx.cs" Inherits="WebSite.Admin.Faculty" %>

<asp:Content ID="Content1" ContentPlaceHolderID="headContentPlaceHolder" runat="server">
    <title>Faculty</title>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContentPlaceHolder" runat="server">
    <section id="subintro">
        <div class="jumbotron subhead" id="overview">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="centered">
                            <h3>View Faculties</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb notop">
                        <li><a href="/Admin/AdminPanel.aspx">Admin Panel</a><span class="divider">/</span></li>
                        <li class="active">Faculties</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="maincontent">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <asp:GridView runat="server" ID="gvData" AutoGenerateColumns="false" CssClass="table table-striped">
                        <Columns>
                            <asp:BoundField HeaderText="Faculty Name" DataField="FacultyName" />
                            <asp:BoundField HeaderText="Min Percentage To Apply" DataField="MinPercentage" />

                        </Columns>
                    </asp:GridView>
                </div>
            </div>
        </div>
    </section>
</asp:Content>
