
<body>

    <br/> <br/> <br/><br/>
    <form action="/events/add" method="post" style="margin-left: 300px">

    <!-- <input type="file" name="photofile"> -->
    ID<input type="text" name="id" /><br/>
    TITLE<input type="text" name="name"/><br/>
   <br/>
   Main Speaker
   <br/>
   <select name="mainSpeaker">
    <% speakers.forEach((speaker)=>{%>
        <option value="<%=speaker._id%>"><%=speaker.Name%></option>
    <%})%>
   </select>
   <br/>
   Other Speakers<br/>
   <select name="otherSpeakers" multiple>
        <% speakers.forEach((speaker)=>{%>
            <option value="<%=speaker._id%>"><%=speaker.Name%></option>
        <%})%>
       </select>

    <!-- Main Speaker -->
    

    <input type="submit" value="save">
    </form>
