<html>
    <head>


    </head>
    <body>
            
        <h3> events List </h3>
        <table style="border:3px solid green"  class="table table-dark">
                <tr><th>id</th><th>title</th><th>speakername</th><th>Others</th></tr>
                <% events.forEach((event)=>{%>
                    <tr>
                        <td><%=event._id%></td>
                        <td><%=event.title%></td>
                        <td><%=event.mainSpeaker%></td>
                        <td>
                            <ul>
                                <%event.others.forEach((speaker)=>{%>
                                    <li><%=speaker.Name%></li>
                                <%})%>
                            </ul>
                        </td>

                        <td>
                            <a href="/events/edit/<%=event._id%>" class="btn btn-primary">EDIT</a>
                            <a href="/events/delete/<%=event._id%>" class="btn btn-danger">DELETE</a>
                          </td>
                    </tr>
                <%})%>
               
        
       </table>

