.featured-work{
	
	padding:100px 0 ;
	margin:0;
}

.featured-work ul{
	
	margin-top:40px;
	
}


.featured-work ul li {
	
	 color:08526d;
	 border:2px solid #08526d;
	 padding:10px 20px;
	margin-right:50px;
	 margin-bottom:10px;
	 
	  -webkit-transition:all .3s ease-in-out;
	 -moz-transition:all .3s ease-in-out;
	 -o-transition:all .3s ease-in-out;
	 transition:all .3s ease-in-out; 
	 
	 
	
}

.featured-work ul li:active,
.featured-work ul li:hover{
	
	background-color:#fc5800cf;
	border:2px solid #fc5800cf;
	color:fff;
	border-width:10px;
	
}

.featured-work ul li:hover{

cursor:pointer;	

	
}

/*
div .col-md-6 {
	
	margin-top :30px;
	
	
} */




.shuffle-images{
	
	margin:0;
	padding:0;
	
}

.featured-work .shuffle-images .row{
	
margin:0;	
	
}

.featured-work .shuffle-images .row .col-md-6 {
	
	/*margin-top:50px;
	margin-left:100px;*/
	margin:0;
	padding:0;
	
	
}

 .shuffle-images .row .col-md-6{
	
	padding:0;
	margin:0;
	
	-webkit-transition:all .8s ease-in-out;
	 -moz-transition:all .8s ease-in-out;
	 -o-transition:all .8s ease-in-out;
	 transition:all .8s ease-in-out; 
	 
}
