

#mg{
    position: absolute;
     left: 500px; 

    
    top: 100px;
  }


  #container{


    position: relative;
  }

  #mg1{

    margin-right: 80%;
    margin-top: 10px;
  }


  #mg2{

    margin-right: -300%;
    margin-top: -300px;
  }


  #mg3{

    margin-left: -530%;
    margin-top: -300px;
  }



  /*-----------------------key------frame-------------*/


  #mg{
    width: 100px;
    height: 100px;
    
    position :relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
  }
  
  
   @-webkit-keyframes mymove {
    from {bottom: 70px;}
    to {top: 20px;}
  }
  
  /* Standard syntax */
  @keyframes mymove {
    from {top: 0px;}
    to {top: 70px;}
  }


  /* @keyframes  mymove{
    0% {
      top: 0px;
    }

    
    30% {
      top: 30px;
    }
    100% {
      top: 70px;
    }
  } */


  
   /*----------------end-------key------frame---------------*/





   

/*----------------------according--------------------------*/


/* .accordion{

    text-align: center;

     margin-left:30px; 
    color:black;
   
 }


 #accordionExample .card{

  width:1100px;
  height:300px;
  
 } */


 .card-header{

  background-color: #fc5800cf;
  
 }

 i{

  color:black;
 }

 #collapseOne{

  color:black
 }