#back{

    background-image:url("img/1.jpg")!important;
}

.abs{
    position: absolute;
     left: 500px; 

    
    top: 200px;
  }


  .rel{


    position: relative;
  }


  /*-------------album---------------*/


 .card:hover{

    background-image:black; 
  }


  /* footer{

    background-color: #F28241;
    color:white;
  }


   li a{

    color:white;
  
  } */


  footer{

    background-color:#f8f9fa ;
  }


  .btn-light{

    background-color:#fc5800cf;
  }




  #container .card{
    position: relative;
    /* width: 400px;
    height: 400px; */
  }
  /* .card img {
    width: 100%;
    vertical-align: top;
  } */


  .card .shadow:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}
  /* .card .shadow{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: red;
    z-index: 200;
  } */

  .card .shadow:hover:after {
    opacity: 1;
}
  /* .card .shadow:hover {
    display: block;
  } */



 


  


  /*------------------------style---img--------------------------------*/


  #container{
	
    padding:100px 0 ;
    margin:0;
  }
  
  /* #container ul{
    
    margin-top:40px;
    
  }
   */
  
  /* #container ul li {
    
     color:08526d;
     border:2px solid #08526d;
     padding:10px 20px;
    margin-right:50px;
     margin-bottom:10px;
     
      -webkit-transition:all .3s ease-in-out;
     -moz-transition:all .3s ease-in-out;
     -o-transition:all .3s ease-in-out;
     transition:all .3s ease-in-out; 
     
     
    
  } */
  
  /* #container ul li:active,
  #container ul li:hover{
    
    background-color:#fc5800cf;
    border:2px solid #fc5800cf;
    color:fff;
    border-width:10px;
    
  }
  
  #container ul li:hover{
  
  cursor:pointer;	
  
    
  } */
  
  /*
  div .col-md-6 {
    
    margin-top :30px;
    
    
  } */
  
  
  
  
  #container{
    
    margin:0;
    padding:0;
    
  }
  
  #container .row{
    
  margin:0;	
    
  }
  
   #container .row .col-md-3 {
    
    /*margin-top:50px;
    margin-left:100px;*/
    margin:0;
    padding:0;
    
  }
  
  #container.row .col-md-3{

    
    
    padding:0;
    margin:0;
    
    -webkit-transition:all .8s ease-in-out;
     -moz-transition:all .8s ease-in-out;
     -o-transition:all .8s ease-in-out;
     transition:all .8s ease-in-out; 
     
  }
  

   ul #controls{

    height:auto;
    overflow:hidden;
    width:960px;

    list-style:none;

    background:#ff5500;
    margin:15px auto 45px;
    color:white;
}


 ul li #controls{

    padding:15px 20px;
   
    width: auto;
    height: auto;
    float:left;
    cursor:pointer;
}

 li #controls{

    padding: 10px;
    
}



#container .card{

  width:400px !important;
  height:400px !important;

  margin:10px;

  

}


 
/* .shuffle-images{

  padding:5px;
}

.shuffle-images img{

    width:250px;
    height:350px;
   
} */


#container img{

  width:350px;
  height:350px;
  margin-bottom:30px;
}



#container .pr-5, .px-5 {
   padding-right:1rem !important;
 
 
  /* padding-left: -1rem !important; */
  /* text-align: center; */
  
  margin-left: 60px;
}

/* 
#container .container{

  max-width: 1340px!important;

 
} */