
/*-----------start---footer---------------*/

footer{
    background-color:#f01a56;
    display: block;
	

}


#pink{
	
	 color:white;
}

#headingOne{
	
	background-color:#f01a56;
}


#bg{
	 background-color:#f01a56;
	 color:white;
	 border-radius:50px;
	 width:130px;
}


input{
	
	 border:1px solid #f01a56!important;


}



.ftr_top {

    font-size: 0;


}
.wrapper {

    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
    margin-left: 20px;
    display: flex;
    align-items: flex-start;

}



ul li{


    border-bottom-color: rgb(51, 51, 51);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(51, 51, 51);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(51, 51, 51);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(51, 51, 51);
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-family: "Avenir Light", Arial, Helvetica, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-optical-sizing: auto;
    font-size: 0px;
    font-size-adjust: none;
    font-stretch: 100%;
    font-style: normal;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-variation-settings: normal;
    font-weight: 400;
    line-height: 22px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: center;
    vertical-align: baseline;
}



.col-lg-3 ul li {

    display: flex;
    align-items: flex-start;

    vertical-align: top;
    color:white;

}
.menu ul li a:hover {


    color:white;

}

.col-lg-3 {

    margin: 0 0px 25px;
    width: auto !important;
    text-align: center;

}

.col-lg-3{



    vertical-align: top;

}

.col-lg-3 h3{

   /* border-bottom: 1px solid white; */
    padding-bottom: 15px;
    display: block;
    padding-right: 200px;
	
}

.col-lg-3 h3 {

    font-family: 'Avenir Black';

    font-style: normal;
    font-size: 16px;
   color:white;


    text-transform: uppercase;
    font-weight: bold;


}



.col-lg-3 #menu-item{
    text-align: center;
    padding-right: 80px;
    line-height: 200%;
    font-size: 18px;
    width:170%;
}

.h{
	width:400px;
	color:white;

}

#copy{
	
	color:white;
}

.frt_top{
	
	margin-left:70px;
}
/*-----------ed------footer---------------*/




/*----------------------------nav--------------------------------*/


 .form-inline{
	 
	 margin-right:300px;
 }
 
 
 /*--------------------*/
 
 