.contact_form form {

    margin: 30px auto 0;
    padding-bottom: 0;

}



.inputMaterial:required {

    box-shadow: none !important;
}


.contact_form label {

    font-family: 'Avenir Medium';
    font-size: 16px;
    color: #424242;
    position: absolute;
    top: 19px;
    left: 19px;
    transition: .2s ease all;
    -moz-transition: .2s ease all;
    -webkit-transition: .2s ease all;
    pointer-events: none;
    line-height: initial;

}

.contact_form input {

    border: 1px solid #00bbb6;
    
    background: #fff;
    font-family: 'Avenir Medium';
    font-size: 25px;
    color: #424242;
   
    border-radius: 8px;
    margin-bottom: 10px;

}
.spam_area {

    opacity: 0;
    height: 5px !important;
    position: absolute;
    width: 21% !important;
    top: 34%;
    padding: 10px !important;

}

input, textarea, select {

    -webkit-appearance: none;

}

.contact_form form .fgroup:nth-child(2n) {

    float: right;

}
.contact_form form .fgroup {

    display: inline-block;
    vertical-align: top;
    width: 30.5%;
    position: relative;

}

.form_veri  input{

     color: white;
    background-color: rgb(13, 150, 112);
    margin: 16px;
    margin-left: 110px;
    padding-right:5px;
    padding-left: 5px;
    padding: 5px; 
    font-size: 20px;

}

.form_veri input:hover{

    background-color: #4e4d4d;
}




.col-lg-6 h2{
    font-size: 30px;
    color:  rgb(13, 150, 112);
    margin-left: 130px;
    font-weight: bold;

   
}



.col-lg-6 form{
    margin-left:100px;
}


.col-lg-6 h2{

    margin-left: 230px;
}


.form_veri #a1{
   
    
    left: 43%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:#0d9670;
    color: white;
    font-size: 16px;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin: 50px;
    
   
  }
  
  .form_veri #a1:hover {
    background-color: black;
    color: white;
  }


 