*{
	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-sizing:border-box;
	box-sizing:border-box;
}

div.outer-wrapper{
    display: flex;
    align-items: flex-start;
}

body {
  overflow-x:hidden;
}




#artdiv p {
	
	
}

#artdiv .head4{
	
	padding-left:10px;
}

#artdiv2 .head4{
	
	padding-left:10px;
}

#artdiv3 .head4{
	
	padding-left:10px;
}

#artdiv4 .head4{
	
	padding-left:10px;
}



#artdiv2 p {
	
	padding-left:-5px;
}




#artdiv3 p {
	
	padding-left:-5px;
}


#artdiv4 p {
	
	padding-left:-5px;
}


/**********max-width---nav***********/


@media(min-width:912px){
	
.fa-2x{
	
	
	padding-left:80px;
	margin-left:-10px;
	
	
}
}

@media(max-width:800px){
	
		.fa-2x{
	
	
	padding-left:80px;
	margin-left:-100px;
	
	
}}

@media(max-width:800px){
	
		ul.navbar-nav{
	
	padding-left:330px;
	
	
}}


@media(max-width:785px){
	
nav .navbar-nav{

	
margin-left:-300px;	


	
}
}


@media(max-width:768px){
	
nav .navbar-nav{

	
margin-left:-150px;	



	
}
}



@media(max-width:768px){
	
.fa-2x{
	
	
	padding-left:150px;
	margin-left:-100px;
	
	
}
}



@media(max-width:538px){
	
.fa-2x{
	
	
	padding-left:80px;
	margin-left:-105px;
	
	
}
}
 
 

 @media(max-width:538px){
	
nav .navbar-nav{

	
padding-left:150px;	


	
}
}


@media(max-width:375px){
	
nav .navbar-nav{

	
margin-left:-40px;	


	
}
}


@media(max-width:360px){
	
nav .navbar-nav{

	
margin-left:-50px;	


	
}
}


 
/**********end-max-width---nav***********/




i.fa.fa-twitter.fa-2x{
	
	
	padding-left:100px;
	
	
}


i.fa-2x{
	
	color:#4a8ed2;
	font-size:25px;
}




.nav-item i{
	
font-size:20px;

color:#21252996;	
}

.col-lg-5.col-sm-5 i{
	
	color:#21252996;
}




row{
 
margin-top:20px; 
	
}



                  /******************img1********************/


img{

 height:50px;
width:50px; 
	
}


#artdiv img{
width:50;
height:50;
border-radius:50%;

right:85%;
top:30px;
border:var(--x);

}

img #im{
	
width:50;
height:50;
border-radius:20%;
right:45%;
top:30px;
border:var(--x);

}

/*******************end img1********************/

/**********max-width1***********/

@media(min-width:912px){
	
	#artdiv img#im{
	
width:50;
height:50;
border-radius:50%;
right:88%;
top:50px;
border:var(--x);

}
}



@media(max-width:800px){
	
	#artdiv img{
width:50;
height:50;
border-radius:50%;

right:80%;
top:30px;
border:var(--x);

} 
 }
 

 
 @media(max-width:785px){
	
	#artdiv img{
		
width:50;
height:50;
border-radius:50%;

right:85%;
top:40px;
border:var(--x);

 } }
 
 
 

 
  @media(max-width:768px){
	
	#artdiv img{
width:50;
height:50;
border-radius:50%;

right:80%;
top:30px;
border:var(--x);

} 
 }

@media(max-width:768px){
	
	#artdiv p{
	
width:300px;

}}


 @media(max-width:538px){
	
	#artdiv img{
width:50;
height:50;
border-radius:50%;

right:92%;
top:30px;
border:var(--x);

} 
 }
 
 @media(max-width:538px){
	
	#artdiv p{
	
width:300px;

}}
 
 @media(max-width:414px){
	
	#artdiv img#im{
	
width:50;
height:50;
border-radius:50%;
right:85%;
top:30px;
border:var(--y);

}}
 
 @media(max-width:414px){
	
	#artdiv p{
	
width:300px;

}}
 
 @media(max-width:375px){
	
	#artdiv img#im{
	
width:50;
height:50;
border-radius:50%;
right:85%;
top:27px;
border:var(--y);

}}

@media(max-width:375px){
	
	#artdiv p{
	
   width:280px;

}}

 @media(max-width:360px){
	
	#artdiv img{
width:50;
height:50;
border-radius:50%;

right:92%;
top:30px;
border:var(--x);

} 
 }
 
 @media(max-width:360px){
	
	#artdiv p{
  width:270px;
} 
 }
/**********end-max-width1***********/



/*******************start img2*****************/

                  


img{

 height:50px;
width:50px; 
	
}


#artdiv2 img{
width:50;
height:50;
border-radius:50%;

right:90%;
top:30px;
border:var(--y);

}




#artdiv2 img#im2{
	
width:50;
height:50;
border-radius:50%;
right:90%;
top:200px;
border:var(--y);

}


/**********max-width2***********/

@media(min-width:912px){
	
	#artdiv2 img#im2{
	
width:50;
height:50;
border-radius:50%;
right:88%;
top:230px;
border:var(--y);

}
}


@media(max-width:800px){
	
	#artdiv2 img#im2{
	
width:50;
height:50;
border-radius:50%;
right:80%;
top:260px;
border:var(--y);

}
 }
 
 @media(max-width:785px){
	
	#artdiv2 img#im2{
	
width:50;
height:50;
border-radius:50%;
right:85%;
top:220px;
border:var(--y);

}
 }
 
 

@media(max-width:768px){
	
	#artdiv2 img#im2{
	
width:50;
height:50;
border-radius:50%;
right:80%;
top:270px;
border:var(--y);

}
 }

@media(max-width:768px){
	
	#artdiv2 p{
	
width:300px;

}}

 @media(max-width:538px){
	
	#artdiv2 img#im2{
	
width:50;
height:50;
border-radius:50%;
right:92%;
top:200px;
border:var(--y);

}}





@media(max-width:414px){
	
	#artdiv2 img#im2{
	
width:50;
height:50;
border-radius:50%;
right:85%;
top:240px;
border:var(--y);

}}

@media(max-width:414px){
	
	#artdiv2 p{
	
width:300px;

}}

@media(max-width:375px){
	
	#artdiv2 img#im2{
	
width:50;
height:50;
border-radius:50%;
right:85%;
top:260px;
border:var(--y);

}}
@media(max-width:375px){
	
	#artdiv2 p{
	
   width:280px;

}}

@media(max-width:360px){
	
	#artdiv2 img#im2{
	
width:50;
height:50;
border-radius:50%;
right:86%;
top:260px;
border:var(--y);

}}
 
 @media(max-width:360px){
	
	#artdiv2 p{
  width:270px;
} 
 }


/*******************end img2********************/


/*******************start img3*****************/

                  


img{

 height:50px;
width:50px; 
	
}


#artdiv3 img{
width:50;
height:50;
border-radius:50%;

right:90%;
top:30px;
border:var(--z);

}

#artdiv3 img#im3{
	
width:50;
height:50;
border-radius:50%;
right:90%;
top:370px;
border:var(--z);

}


/**********max-width3***********/
@media(min-width:912px){
	
	#artdiv3 img#im3{
	
width:50;
height:50;
border-radius:50%;
right:88%;
top:400px;
border:var(--z);

}
}

@media(max-width:800px){
	
		#artdiv3 img#im3{
	
width:50;
height:50;
border-radius:50%;
right:79%;
top:500px;
border:var(--z);

}
 }

 
 
 @media(max-width:785px){
	#artdiv3 img#im3{
	
width:50;
height:50;
border-radius:50%;
right:85%;
top:400px;
border:var(--z);

}
 }  
 

 @media(max-width:768px){
	
		#artdiv3 img#im3{
	
width:50;
height:50;
border-radius:50%;
right:80%;
top:500px;
border:var(--z);

}
 } 

 @media(max-width:768px){
	
	#artdiv3 p{
	
width:300px;

}}
 
 @media(max-width:538px){
	
	#artdiv3 img#im3{
	
width:50;
height:50;
border-radius:50%;
right:92%;
top:370px;
border:var(--z);

}}


@media(max-width:414px){
	
	#artdiv3 img#im3{
	
width:50;
height:50;
border-radius:50%;
right:85%;
top:450px;
border:var(--z);

}}

@media(max-width:414px){
	
	#artdiv3 p{
	
width:300px;

}}

@media(max-width:375px){
	
	#artdiv3 img#im3{
	
width:50;
height:50;
border-radius:50%;
right:85%;
top:495px;
border:var(--z);

}}

@media(max-width:375px){
	
	#artdiv3 p{
	
   width:280px;

}}

@media(max-width:360px){
	
	#artdiv3 img#im3{
	
width:50;
height:50;
border-radius:50%;
right:85%;
top:500px;
border:var(--z);

}}

@media(max-width:360px){
	
	#artdiv3 p{
  width:270px;
} 
 }
 
/**********end-max-width3***********/


/*******************start img3*****************/

                  

img{

 height:50px;
width:50px; 
	
}


#artdiv4 img{
width:50;
height:50;
border-radius:50%;

right:90%;
top:30px;
border:var(--b);

}

#artdiv4 img#im4{
	
width:50;
height:50;
border-radius:50%;
right:90%;
top:540px;
border:var(--b);

}

/**********max-width4***********/



@media(min-width:912px){
	
	#artdiv4 img#im4{
	
width:50;
height:50;
border-radius:50%;
right:88%;
top:585px;
border:var(--b);

}
}

@media(max-width:800px){
	
		#artdiv4 img#im4{
	
width:50;
height:50;
border-radius:50%;
right:80%;
top:730px;
border:var(--b);

}
 }
 
 
 
  @media(max-width:785px){
	
		#artdiv4 img#im4{
	
width:50;
height:50;
border-radius:50%;
right:85%;
top:587px;
border:var(--b);

}
 }
 
 
 @media(max-width:768px){
	
		#artdiv4 img#im4{
	
width:50;
height:50;
border-radius:50%;
right:80%;
top:735px;
border:var(--b);

}
 }

 
 @media(max-width:768px){
	
	#artdiv4 p{
	
width:300px;

}}


 @media(max-width:538px){
	
	#artdiv4 img#im4{
	
width:50;
height:50;
border-radius:50%;
right:92%;
top:540px;
border:var(--b);

}}


@media(max-width:414px){
	
	#artdiv4 img#im4{
	
width:50;
height:50;
border-radius:50%;
right:85%;
top:650px;
border:var(--b);

}}


@media(max-width:414px){
	
	#artdiv4 p{
	
width:300px;

}}

@media(max-width:375px){
	
	#artdiv4 img#im4{
	
width:50;
height:50;
border-radius:50%;
right:85%;
top:730px;
border:var(--b);

}}
 
 @media(max-width:375px){
	
	#artdiv4 p{
	
   width:280px;

}}
 
 @media(max-width:360px){
	
	#artdiv4 img#im4{
	
width:50;
height:50;
border-radius:50%;
right:85%;
top:730px;
border:var(--b);

}}
 
 @media(max-width:360px){
	
	#artdiv4 p{
  width:270px;
} 
 }
/**********end-max-width4***********/




.container-fuild{
	
	margin-left:30px;
	margin-right:-90px;
	
	padding-top:30px;
	
}




button{
	
border-radius:50%;

padding:5px;
padding-left:15px;
padding-right:15px;


}


.head4{
	color:#7c7c7d;
	
}



#artdiv i{
	padding-left:40px;
	font-size:18px;
}

#artdiv2 i{
	padding-left:40px;
	font-size:18px;
}

#artdiv3 i{
	padding-left:40px;
	font-size:18px;
}

#artdiv4 i{
	padding-left:40px;
	font-size:18px;
}


@media(max-width:538px){
	
nav .navbar-nav{

	
padding-left:150px;	


	
}
}

