<html>
    <head>
       

      
<link href="/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">




</head>
<body>
  
	<!--Navbar-->
  <nav id="navbar-example2" class="navbar navbar-expand-lg navbar-light fixed-top bg-danger">
    <a class="navbar-brand text-light" href="#">Make-up</a>
    
    <div class="hamburger-menu">
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
      </button>
    </div>
    
     
      
      </div>
    </div>
  </nav>
  <!--/.Navbar-->
      <%-body%>  
      <div> FOOTER </div>
    
      
	 
</body>
</html>